@import './base.scss';
.app__container {
  display: flex;
  margin-top: 10vh;
}

.app__main {
  width: 85% !important;
}
@media (max-width: $breakpoint-medium) {
  .app__main {
    width: 100% !important;
  }
}
